# Node Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase Cache & Emulators
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
